@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "./colors.scss";

body {
    background: $primary;
    font-size: 10px;
    color: $d;
    background-image: url("../images/5a2fc82a782534.8545359615130808744921.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-origin: border-box;
    background-blend-mode: hard-light;;
    font-family: 'Bebas Neue', cursive;
    min-height: 100vh;
}

.card {
    background: white;
    padding: 2rem;
    border-radius: 6px;
    font-family: sans-serif;
}
