* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

div, section, header, footer, main, aside {
    position: relative;
}

img {
    display: block;
    margin: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

