@import "./responsive.scss";

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.heading-stand-out {
    color: #ffffff;
    font-size: 5rem;
    background: rgba(0,0,0,0.5);
    text-align: center;

    @include respond-to("medium") {
        font-size: 10rem;
    }

}

.standout-bg {
    background: rgba(0,0,0,0.5);   
}